// The layout that contains all of the albums
.album-shelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// The container for each album
.album-container {
    position: relative; // For the mask
    height: 200px;
    width: 200px;
    margin: 10px;
}

.album-container:hover .album-mask {
    opacity: 1;
}

.album-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);

    // Only display on hover
    opacity: 0;
    transition: opacity 0.3s;

    // Center the content
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// The album names
.album-text {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}